<div (keydown)="keydown($event)" (keyup)="keyup($event)">
    <drawer [vehicles]="vehicles()" (configureVehicle)="vehicleToConfigure.set($event)"></drawer>
    <router-outlet />
    <p-toast />
    <config-dialog [(vehicle)]="vehicleToConfigure"></config-dialog>

    <leaflet-map [center]="[52.14119101024145, 11.654780681884725]" [zoom]="16">
        @for (vehicle of vehicles(); track vehicle.id) {
        <leaflet-marker [lat]="vehicle.lat" [lng]="vehicle.lon">
            <ng-template leafletPopup>
                <div style="width: 150px;">
                    <p class="font-bold">{{ vehicle.name }}</p>
                    @if (vehicle.connected) {
                    <div class="flex flex-col">
                        <div><p-button icon="pi pi-forward" size="small" (click)="startTeleop(vehicle)" label="Teleoperate" outlined/></div>
                    </div>
                    } @else {
                    <p-tag severity="danger" value="Offline" />
                    }
                </div>
            </ng-template>
        </leaflet-marker>
        }
    </leaflet-map>

    <p-dialog [visible]="rtcStatus().state != RtcState.Disconnected" [closable]="false">
        <ng-template #header>
            <div>{{ rtcStatus().vehicle?.name }}</div>
        </ng-template>
        @if (gamepadIndex() === null) {
            <p>
                You configured a gamepad.
                Connect it and press any button to use it.
            </p>
        }
        <div style="width: 600px; height: 400px;">
            <video #remoteVideo style="width: 100%; height: 100%; object-fit: contain;" muted autoplay
                playsinline></video>
        </div>
        <ng-template #footer>
            @if (rtcStatus().state == RtcState.Connecting) {
            <p-progress-spinner />
            }
            <p-button label="Disconnect" (click)="stopTeleop()"></p-button>
        </ng-template>
    </p-dialog>
</div>
