@import "tailwindcss";

body {
    margin: 0;
}

.checkerboard {
    background-image:
        linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray),
        linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}
